<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @Html.Partial("PartialObjectives")
    @Html.Partial("PartialMission")
    @Html.Partial("PartialVision")
    @Html.Partial("PartialOfficials")
</div>