<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="objectives"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#collapseObjectives"
         aria-expanded="true"
         aria-controls="collapseObjectives">
        <h4 class="panel-title">
            <a>
                Objectives
            </a>
        </h4>
    </div>
    <div id="collapseObjectives" class="panel-collapse collapse in"
         role="tabpanel"
         aria-labelledby="collapseObjectives">
        <div class="panel-body">

        </div>
    </div>
</div>
