<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="officials"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#collapseOfficials"
         aria-expanded="true"
         aria-controls="collapseOfficials">
        <h4 class="panel-title">
            <a>
                Barangay Official
            </a>
        </h4>
    </div>
    <div id="collapseOfficials" class="panel-collapse collapse in"
         role="tabpanel"
         aria-labelledby="collapseOfficials">
        <div class="panel-body">

        </div>
    </div>
</div>

