<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mission"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#collapseMission"
         aria-expanded="true"
         aria-controls="collapsemission">
        <h4 class="panel-title">
            <a>
                Mission
            </a>
        </h4>
    </div>
    <div id="collapseMission" class="panel-collapse collapse in"
         role="tabpanel"
         aria-labelledby="collapseMission">
        <div class="panel-body">

        </div>
    </div>
</div>