<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="vision"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#collapseVision"
         aria-expanded="true"
         aria-controls="collapseVision">
        <h4 class="panel-title">
            <a>
                Vision
            </a>
        </h4>
    </div>
    <div id="collapseVision" class="panel-collapse collapse in"
         role="tabpanel"
         aria-labelledby="collapseVision">
        <div class="panel-body">

        </div>
    </div>
</div>
